@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

// v-calendar overwrite
.vc-calendar-date-picker {
    &.vc-container {
        border-radius: 8px;
        border-bottom: 3px solid #ededed;
        background: white;
        box-shadow: 0px 0px 0px 3px rgba(221, 221, 221, 0.16);
    }

    & .vc-title,
    .vc-arrow {
        background: white;
    }
}