@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

// v-calendar overwrite
.vc-calendar-date-picker {
    & * {
        font-family: 'Inter';
        font-size: 12px;
        font-weight: 400;
        font-style: normal;
        line-height: 16px;
        color: #727171;
    }

    & .vc-title,
    .vc-arrow {
        background: white;
    }

    &.vc-container {
        border-radius: 8px;
        border-bottom: 3px solid #ededed;
        box-shadow: 0px 0px 0px 3px rgba(221, 221, 221, 0.16);
    }

    & .vc-header {
        * {
            color: #121212;
        }

        & .vc-title-wrapper span {
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
        }
    }

    & .vc-day-content:hover {
        border-radius: 8px;
    }

    & .vc-highlight-bg-light {
        background-color: #f1f2ff;
        border-top: 1px solid #2ba558;
        border-bottom: 1px solid #2ba558;

        &.vc-highlight-base-start,
        &.vc-highlight-base-end {
            background-color: #2ba558;
        }
    }

    & .vc-highlight-bg-outline {
        background-color: #2ba558;
        border-radius: 8px;
    }

    & .vc-highlight-bg-solid {
        border-radius: 8px;
    }

    & .vc-highlight-content-solid {
        color: white;
    }

    & .vc-highlight-content-light {
        color: #2ba558;
    }
}
